body
{
  background-color: #fff1d6;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.6; /* espaçamento entre linhas*/
  width: 1000px;
  margin: 0 auto; 

}

main
{
    text-align: justify;
    display: flex;
}

article
{
    width: 800px;
}


section
{
    border-color: #CCC #999 #CCC;
    border: 1px solid #CCC; 
    margin-bottom: 20px;
    background-color: white;
    padding: 10px; /*separa o elemento da borda*/

}

aside
{
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    padding: 10px;
    width: 480px;
    margin-left:10px;
    height: 300px;
    
}